PassengerEnabled on
PassengerNodejs /opt/cpanel/ea-nodejs20/bin/node
PassengerStartupFile server.js
PassengerAppType node
PassengerStartTimeout 60
PassengerMaxPreloaderIdleTime 0
PassengerMaxRequests 0
